.app{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apexcharts-svg text{
  all: unset !important;
  font-size: 10px !important;
  letter-spacing: -0.3px !important;
}

.apexcharts-svg .apexcharts-title-text{
  font-family: "inter" !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 24.2px !important;
  letter-spacing: -0.2px !important;
  color: #131313 !important;
}
